* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Anvender :root til at sætte farverne (dette er smart, så man nemt kan ændre alle af den samme farve på siden) */
:root {
    --dark-blue: #1E2346;
    --neptun: #8EACCF;
    --uranus: #9FDAE3;
    --saturn: #E4C2AF;
    --jupiter: #E16F2C;
    --mars: #D65238;
    --jorden: #62B264;
    --venus: #DFC69A;
    --merkur: #BFBDC5;
    --hvid: #F2F2F2;
}
/* For at bruge disse farver skrives det således:

div {
    background-color:var(--beige);
}
Her giver får baggrunden på div'en den fastlagte beige farve.
*/


/* Anvender @font-face for at kunne bruge en bestemt font */
@font-face {
    font-family: "phosphate";
    src: url("/font/Phosphate-Inline.ttf") format("ttc");
}

@font-face {
    font-family: "aupassata";
    src: url("/font/aupassata_rg.ttf") format("ttf");
}
/* For at bruge denne font skrives det således:

div {
    font-family: 'headerFont';
    letter-spacing: 2px;
}

letter-spacing er vigtig for at få det til at ligne vores mockups
*/

body {
    font-family: "aupassata";
    overflow: hidden;
    background-image: url(/img/baggrund/space_baggrund.webp);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 0;
}

h1 {
    font-family: 'phosphate';
    font-size: 100px;
}

h2 {
    font-family: "Baloo 2", sans-serif;
}

/* Loader div styles */
.loader {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url(/img/baggrund/space_baggrund.webp);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

/* Loader billede styles */
.loadingrocket {
    width: 20%;
    margin-top: 100px;
    bottom: -50%;
    position: absolute;
    display: flex;
    animation: flying 3s linear; 
}

/* Animation defineres */
@keyframes flying {
    0% {
        transform: translateY(0) translatex(0px) rotate(15deg);
    }
    33% {
        transform: translateY(-50vh) translatex(20vw) rotate(57deg);
    }
    66% {
        transform: translateY(-80vh) translatex(50vw) rotate(50deg);
    }
    100% {
        transform: translateY(-150vh) translatex(80vw) rotate(10deg);
    }
}

/* Side indhold gemmes */
.hidden {
    display: none;
}

body{
    height: 100vh;
    
    overflow: hidden;
}

/* Index css start*/

.skyer-baggrund{
    background-image: url(/img/baggrund/jord_skyer.gif);
}

.h1-index{
    color: var(--dark-blue);
   font-size: 120px;
   font-style: solid;
    margin-top: -20px;
   text-align: center;
   top: -60px;
   position: relative;
    z-index: 1; 
}

.logo-index {
    position: absolute; 
    top: 60px; 
    left: 80px; 
    width: 80px;
    z-index: 1; 
    transform: translate(-50%, -50%); 
}

.stenvinkera {
    position: absolute;
    height: 435px;
    left: 117px;
    bottom: 96px;
    transform: scaleX(-1);
    z-index: 2;
    position: absolute;
    
}

.boblea {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 550px;
    top: 215px;
}

.taleboblea {
    position: absolute;
    height: 324px;
    z-index: 2;
}

.pa {
    position: absolute;
    z-index: 3;
}

.landa {
    position: absolute;
    height: 832px;
    z-index: 1;
}
.da-button {
    background-color: var(--hvid); 
    border: none;
    color: var(--dark-blue);
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px; 
    width: 80px;
    margin-left: 80%;
    top: 25px;
    z-index: 1; 
    position: relative;
    border: solid 2px  var(--dark-blue);
}

.en-button {
    background-color: var(--hvid); 
    border: none;
    color: var(--dark-blue);
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px; /* Rounded corners */
    margin-left: 88%;
    width: 80px;
    top: -58px;
    z-index: 1; 
    position: relative;
    border: solid 2px  var(--dark-blue);
}

.sten-index{
    transform: scaleX(-1);
    margin-left: -10px;
    width: 400px;
    margin-top: -50px;
}

.start-knap{
    width: 200px;
    top: -30% ;
    margin-left: 165px;
    z-index: 1; 
    position: relative;
   
}
/* Index css slut*/
/*Vil du med - start*/
.vildumed-container {
    position: relative;
    display: flex;
}

.vildumed-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.vildumed-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.character {
    width: 50%;
    transform: scaleX(-1);

}

.character img {
    width: 100%;
}

.vildumed-text {
    color: #1E2346;
    width: 40%;
    margin-right: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vildumed-text h2{
    font-size: 80px;
    text-align: center;
}

.vildumed-text p{
    font-size: 35px;
    text-align: center;
    padding: 20px;

}

.vildumed-button {
    display: inline-block;
    align-items: center;
    text-decoration: none;
    width: 230px;
    margin-bottom: 50px;
}
/*Vil du med - slut*/

/* Styling af afsted.html start */
.afsted {
    display: flex;
}

.raketa {
    position: absolute;
    height: 615px;
    right: 190px;
    bottom: 116px;
    z-index: 2;
}

.stenvinkera {
    position: absolute;
    height: 435px;
    left: 117px;
    bottom: 96px;
    transform: scaleX(-1);
    z-index: 2;
}

.boblea {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 550px;
    top: 200px;
}

.taleboblea {
    position: absolute;
    height: 324px;
    z-index: 2;
}

.pa {
    position: absolute;
    z-index: 3;
}

.land {
    position: absolute;
    width: 100%;
    z-index: 1;
}
/* Styling af afsted.html slut */
/* Styling af cockpit.html start */
.cockpitc {
    display: flex;
}
    
.cockpittop {
    position: sticky;
    width: 100%;
    z-index: 2;
}

.cockpitbund {
    position: sticky;
    width: 100%;
    z-index: 2;
}
    
.planeter {
    position: absolute;
    display: flex;
    z-index: 1;
}
    
.planeter a .solenpit {
    position: absolute;
    height: 700px;
    width: auto;
    left: -22rem;
}
    
.planeter a .merkurpit {
    position: absolute;
    height: 73px;
    width: auto;
    top: 20rem;
    left: 18rem;
}
    
.planeter a .venuspit {
    position: absolute;
    height: 110px;
    width: auto;
    top: 12rem;
    left: 21rem;
}
    
.planeter a .jordenpit {
    position: absolute;
    height: 86px;
    width: auto;
    top: 17rem;
    left: 30rem;
}
    
.planeter a .marspit {
    position: absolute;
    height: 78px;
    width: auto;
    top: 10rem;
    left: 34rem;
}
    
.planeter a .jupiterpit {
    position: absolute;
    height: 232px;
    width: auto;
    top: 7rem;
    left: 40rem;
}
    
.planeter a .saturnpit {
    position: absolute;
    height: 185px;
    width: auto;
    top: 15rem;
    left: 53rem;
}
    
.planeter a .uranuspit {
    position: absolute;
    height: 111px;
    width: auto;
    top: 13rem;
    left: 65rem;
}
    
.planeter a .neptunpit {
    position: absolute;
    height: 88px;
    width: auto;
    top: 22rem;
    left: 70rem;
}

.hjemknap {
    position: absolute;
    width: 140px;
    bottom: 30%;
    left: 44.5%;
    z-index: 4;
}
/* Styling af cockpit.html slut */

/* Planeter */
.tilbage-raket {
    transform: rotate(270deg);
    width: 120px;
    z-index: 5;
    position: absolute;
    left: 50px;
    top: -15px;
}

.tilbage-raket img {
    width: 100%;
}

.neptun {
    position: absolute;
    width: 1000px;
    z-index: 1;
    top: 45%;
    left: -15%;
}

.neptun-tekst {
    display: flex;
    grid-template-columns: 2;
    flex-direction: column;
    text-align: center;
    width: 50%;
    justify-content: center;
    align-self: flex-end;
    left: 50%;
    top: 30%;
    position: absolute;
}
.neptun-tekst h1 {
    color: var(--neptun);
}

.neptun-tekst p {
    font-size: 40px;
    color: var(--neptun);
    padding: 0 15px;
}

.taleboble-neptun {
    width: 250px;
    z-index: 3;
    position: absolute;
    top: 10%;
    left: 34%;
    text-align: center;
}

.taleboble-neptun img {
    width: 100%;
    position: absolute;
}

.taleboble-neptun-tekst {
    width: 100%;
    position: absolute;
}

.taleboble-neptun 

.sten-sidder {
    width: 300px;
    transform: scaleX(-1);
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 20%;
}



/* Slut */

.slut-raket{
        position: absolute;
        width: 30%;        
        right: 15%;
        bottom: -25%;
        z-index: 2;
}

.slut-sten{
    position: absolute;
    width: 25%;        
    right: 60%;
    bottom: -25%;
    z-index: 2;
    transform: scaleX(-1);
}

.slut-taleboble{
    position: absolute;
    width: 24%; 
    top: 28%;       
    right: 40%;
    bottom: -25%;
    z-index: 2;
}

.logo-slut {
    position: absolute; 
    top: 35%; 
    left: 3%; 
    width: 80px;
    z-index: 1; 
}

.spil-igen{
    background-color: var(--hvid); 
    color: var(--dark-blue);
    padding: 18px 18px;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px; 
    width: 8%;
    height: 15%;
    margin-left:-2%; 
    border: solid 2px  var(--dark-blue);
    position: absolute;
    bottom: -25%;
    left: 5%; 

    z-index: 2; 

}

.en-button {
    background-color: var(--hvid); 
    border: none;
    color: var(--dark-blue);
    padding: 18px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px; /* Rounded corners */
    margin-left: 88%;
    width: 80px;
    top: -58px;
    z-index: 1; 
    position: relative;
    border: solid 2px  var(--dark-blue);
}
