* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Anvender :root til at sætte farverne (dette er smart, så man nemt kan ændre alle af den samme farve på siden) */
:root {
    --dark-blue: #1E2346;
    --neptun: #8EACCF;
    --uranus: #9FDAE3;
    --saturn: #E4C2AF;
    --jupiter: #E16F2C;
    --mars: #D65238;
    --jorden: #62B264;
    --venus: #DFC69A;
    --merkur: #BFBDC5;
}
/* For at bruge disse farver skrives det således:

div {
    background-color:var(--beige);
}
Her giver får baggrunden på div'en den fastlagte beige farve.
*/


/* Anvender @font-face for at kunne bruge en bestemt font */
@font-face {
    font-family: "phosphate";
    src: url("/font/Phosphate-Inline.ttf") format("ttc");
}

@font-face {
    font-family: "aupassata";
    src: url("/font/aupassata_rg.ttf") format("ttf");
}
/* For at bruge denne font skrives det således:

div {
    font-family: 'headerFont';
    letter-spacing: 2px;
}

letter-spacing er vigtig for at få det til at ligne vores mockups
*/

body {
    font-family: "aupassata";
}

h1 {
    font-family: 'phosphate';
    font-size: 100px;
}

h2 {
    font-family: "Baloo 2", sans-serif;
}

/* Loader div styles */
.loader {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url(/img/baggrund/space_baggrund.webp);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

/* Loader billede styles */
.loadingrocket {
    width: 20%;
    margin-top: 100px;
    bottom: -50%;
    position: absolute;
    display: flex;
    animation: flying 3s linear; 
}

/* Animation defineres */
@keyframes flying {
    0% {
        transform: translateY(0) translatex(0px) rotate(15deg);
    }
    33% {
        transform: translateY(-50vh) translatex(20vw) rotate(57deg);
    }
    66% {
        transform: translateY(-80vh) translatex(50vw) rotate(50deg);
    }
    100% {
        transform: translateY(-150vh) translatex(80vw) rotate(10deg);
    }
}

/* Side indhold gemmes */
.hidden {
    display: none;
}





/*Vil du med - start*/

/*Vil du med - slut*/